*.apk
*.aab
*.ap_
*.dex
/build/
/app/build/
/terminal-emulator/build/
/terminal-view/build/
/termux-shared/build/
/captures
.externalNativeBuild/
.cxx/
*.iml
.idea/
*.swp
*.swo
local.properties
*.keystore
*.jks
.gradle/
!gradle/wrapper/gradle-wrapper.jar
.DS_Store
Thumbs.db
